html, body {
    height: 100%;
}

body {
    /*background-color: #1B7BD3;*/
    /*background: linear-gradient(#1E7FD9, #01529C);*/
    background: white;
    color: #707070;
    font-family: Segoe UI, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding-top: 7.5%;
}

.header h1 {

    margin-bottom: 3%;
    font-size: 1.5em;
    font-weight: bold;
    color: #01529C;
}

.header h2 {
    margin-top: 0;
    font-weight: lighter;
    font-size: 1.2em
}

hr {
    width:10%;margin:0 auto;
    background-color: #01529C;
    border-color: transparent;
    height: 2px;

}



.flex-item input {
    border-color: transparent;
    border-radius: 10px;
    width: 200px;
    /*height: 35px;*/
    /*color: #9A9A9A;*/
    color: #01529C;
    background-color: white;
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: left;
    margin-left: 0;

    /*box-shadow: 0px 6px 40px -7px;*/

}

.inputContainer {
    text-align: left;
}

.flex-item p {
    margin-bottom: 0;
    text-align: left;
}

.flex-container {
    /*background-color: #1E7FD9;*/
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    /*box-shadow: 0px 6px 40px -7px grey;*/

}
.row {
    width: auto;
    /*border: 1px solid blue;*/
}

#buttons {
    margin-top: 20%;
    font-weight: bolder;
    color: #8C8C8C;
    font-size: 1.2em;
    padding: 0 15% 0 15%;

}

.flex-item {
    /*background-color: tomato;*/
    /*padding: 5px;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*margin: 10px;*/
    /*line-height: 20px;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 2em;*/
    text-align: center;
}

.flex-item p {

}

#submit {
    margin-top: 15%;
    border-color: transparent;
    border-radius: 25px;
    width: 230px;
    height: 48px;
    color: white;
    background-color: #00519C;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    box-shadow: 0px 6px 40px -7px grey;

}

.prompt {
    margin-bottom: 10%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9A9A9A;
    opacity: .6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9A9A9A;
    opacity: .6; /* Firefox */

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9A9A9A;
    opacity: .6; /* Firefox */

}