<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/home.css}" rel="stylesheet" />

</head>
<body>
    <h1 class="head">Goodwill</h1>
    <h2 class="subhead">Delaware</h2>

    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
        <input type="submit" value="Login" />
        <input type="reset" value="Register" />
    </form>
</body>
</html>