<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/home.css}" rel="stylesheet" />

</head>
<body>

    <div class="flex-container">
        <div class="row">
            <div class="flex-item">
                <div class="header">
                <h1>Goodwill</h1>
                <h2>Delaware</h2>
                    <hr>
                </div>
            </div>


            <div class="flex-item" id="buttons">
                <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
                    <input type="submit" value="Login"/>

                    <p>or</p>

                    <input type="submit" value="Register"/>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="header">-->

    <!--</div>-->


</body>
</html>