<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/registration.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="flex-container">
    <div class="row">
        <div class="flex-item">
            <div class="header">
                <h1>Register</h1>

                <hr>
            </div>
        </div>

        <div class="flex-item" id="buttons">
            <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
                <p>Email</p>
                <input type="text" placeholder="JohnDoe@email.com"/>
                <br>
                <p>Password</p>
                <input type="password" placeholder="••••••••"/>
                <br>
                <p>Repeat Password</p>
                <input type="password" placeholder="••••••••"/>

                <input id="submit" type="submit" value="Finish Registration">
            </form>
        </div>
    </div>
</div>

</body>

</html>